body{
    background-color: gray;
}
.form-container{
    position: absolute;
    top: 50px;
    left: 600px;
    background-color: white;
    padding: 30px;
    padding-bottom: 150px;
    border-radius: 10px;
}
form{
    position: absolute;
    left: 60px;
}
.btn-evaluate{
    position: absolute;
    right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-container{
    position: absolute;
    left: 600px;
    top: 280px;
    padding: 30px;
    padding-left: 127px;
    padding-right: 127px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}